@font-face {
    font-family: TamilMN;
    font-weight: normal;
    src: url('/Assets/Fonts/TamilMN.woff') format('WOFF');
}

@font-face {
    font-family: TamilMN;
    font-weight: bold;
    src: url('/Assets/Fonts/TamilMN-Bold.woff') format('WOFF');
}