
.App {
	text-align: center;
	padding:50px;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
.App-link {
	color: #61dafb;
}
@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}
.resultsText{
	padding:20px;
}

footer  .footer-copyright {
	background-color: white !important;
	color:wheat !important;
}
.mcbcol-about{
	color:wheat !important;
}
